@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.produto__img {
  transition: transform 0.3s ease; /* Transição suave */
}

.produto__img:hover {
  transform: scale(1.2); /* Aumenta a imagem em 20% */
  z-index: 10; /* Coloca a imagem em cima de outros elementos */
}